<ul id="{{id}}" class="list-unstyled">
  <img src="{{grid_image}}" width="220px" height="220px" class="img-responsive"/>
  <li><a href="http://www.rejuvenation.com{{path}}">{{short_name}}</a></li>
  <li>{{short_description}}</li>
  <li>${{price}}</li>
</ul>
