<ul id="{{id}}">
  {{!-- {{#if always_free_to_ship}}
    <li>Free Shipping!</li>
  {{/if}} --}}
  <img src="{{grid_image}}" width="220px" height="220px" class="img-responsive"/>
  <li><a href="{{path}}">{{name}}</a></li>
  <li>${{price}}</li>
  <li>Supercat: {{supercat}}</li>
  <li>Category: {{category}}</li>
  <li>Product Type: {{product_type}}</li>
  <li>Product Class: {{product_class}}</li>
  <li>{{short_description}}</li>
</ul>
